#easelink-status {
  cursor: pointer;
}

#easelink-status image {
  list-style-image: url(statusicon.png);
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#easelink-status:hover image {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

#easelink-status[auto] image {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

#easelink-status[auto]:hover image {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}
